<section id="experience" class="experience">

  <h2 class="section-title">Experience</h2>

  <div class="timeline">

    <div class="timeline-item" *ngFor="let item of experience">

      <div class="timeline-dot"></div>

      <div class="timeline-content">
        <h3>{{ item.role }}</h3>
        <p class="company">{{ item.company }}</p>
        <span class="year">{{ item.year }}</span>

        <ul>
          <li *ngFor="let p of item.points">{{ p }}</li>
        </ul>
      </div>

    </div>

  </div>

</section>
